{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form,{attr:{novalidate:'novalidate'}}) }} <!--pour desactiver le controle saisie par défaut -->
    {{ form_widget(form) }}
    <button class="btn-success">{{ button_label|default('Save') }}</button>