{% extends 'base.html.twig' %}

{% block title %}Edit Product Category{% endblock %}

{% block body %}
    <h1>Edit Product Category</h1>

    {{ include('product_category_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_category_back_index') }}">back to list</a>

    {{ include('product_category_back/_delete_form.html.twig') }}
{% endblock %}
